.row.match-my-cols {
    overflow: hidden;
    background-color: #0ffcf4;
    height: 60px;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row.match-my-cols2 {
    overflow: hidden;
    background-color: #54fff9;
    height: 380px;
    overflow: auto;
    color:#000000;
    font-weight: 600;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;


}

.row.match-my-cols3 {
    overflow: hidden;
    background-color: #1500b7;
    height: 170px;
    overflow: scroll;
    color: white;
    font-weight: 600;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}

h1{
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
}
